body {


	font-family: arial, sans-serif;
}

.body {

	padding: 60px 15px;
}
.yellow {

	font-family: 'Yellowtail', cursive;

}

.title {

	font-size: 3.5em;
	margin-top: 0px;
}




.main-header {

	background-color:#AFB42B;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 4px;


}

.nav-link {

	color: white;
	width: 19%;
	display: inline-block;
	text-decoration: none;
	/*margin-right: -4px;*/

}

.text-center {

	text-align: center;

}
.red-text {

	color: #F45B69;
}

.main-container {

	min-height: 100vh;


}

.product h3 {

	font-size: 1.7em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.product img {

	width: 150px;
	margin-top: 10px;
}

.btn-opciones{
	
	

	padding: 0.5rem;
	background-color: #AFB42B;
	color: white;
	border: #D4C31C;
	text-decoration-line: none;
	border-radius: 10px;
	margin: 10px 20px;
	display: inline-block;
	transition: 0.3s;
	cursor: pointer;




}

.btn-opciones:hover{

	transform: scale(1.2);


}



.card {

	border-radius: 4px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 20px;

}

.btn {

	padding: 0.5rem;
	background-color: #AFB42B;
	color: white;
	border: #D4C31C;
	text-decoration-line: none;
	border-radius: 10px;
	margin: 10px 20px;
	display: inline-block;
	transition: 0.3s;
}


 .btn:hover{

 	transform: scale(1.2);
 }
.threeD {

	text-shadow: 1px 3px 0px #6b251d, 1px 13px 5px rgb(171,168,168);
}

.delay-1{

	animation-delay: 0.1s;
	position: relative;
	z-index: 9;
}
.delay-2{
	animation-delay: 0.2s;
	position: relative;
	z-index: 8;
}


.delay-3{
	animation-delay: 0.3s;
	position: relative;
	z-index: 7;
}

.delay-4{
	animation-delay: 0.4s;
	position: relative;
	z-index: 6;
}

.delay-5{
	animation-delay: 0.5s;
	position: relative;
	z-index: 5;
}

.delay-6{
	animation-delay: 0.6s;
	position: relative;
	z-index: 4;
}

.delay-7{
	animation-delay: 0.7s;
	position: relative;
	z-index: 3;
}

.delay-8{
	animation-delay: 0.8s;
	position: relative;
	z-index: 2;
}

.delay-9{
	animation-delay: 0.9s;
	position: relative;
	z-index: 1;
}

.form-register {

	width: 95%;
	max-width: 500px;
	margin: auto;
	border-radius: 10px;
}

.form-cuenta {

	background-color: #AFB42B;
	color: #ffffff;
	padding: 5%;
	text-align: center;
	font-weight: 100;
	font-size: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 5px solid #F45B69;

}

.inputs-container {

	padding: 10 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

input{

	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}

.inputs-48 {

	width: 48%

}

.inputs-100 {

	width: 100%
}

.form-link {

	width: 100%;
	margin: 7px;
	text-align: center;
	font-size: 14px;
}

.btn-reg {

	padding: 10px 40px;
	background-color: #AFB42B;
	color: white;
	border: #D4C31C;
	text-decoration-line: none;
	border-radius: 10px;
	margin: auto;
	display: inline-block;
	transition: 0.3s;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.btn-reg:hover{

 	transform: scale(1.2);
 }
